# Создайте файл .env из копии этого файла и замените значения переменных своими данными

#Secret Django key
SECRET_KEY=your_django_key

DEBUG=True

#Database data
POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user_name
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=your_host_name
POSTGRES_PORT=your_database_port